<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "about.jpg" %>
	</div>

	<div id="content">
		<h1>Hey</h1>
		<p>Welcome to My-Recipe.</p>
		<p>This is a blog application that allows you to create posts about recipes on how to cook favourite meals and also allows you to comment!.</p>
		
	</div>
</div>